h2{
    font-size: 4vw;
    line-height: 4vw;
}

.mainTitle{
    text-align: center;
}

.questoesFrequentes{
    padding: 2vw 5vw;
}

.questao{
    display: flex;
    justify-content: space-between;
    padding: 1.5vw;
    border-top: 1px solid #c3c3c3;
}

.resposta{
    transition: opacity 500ms ease-out;
    transition: max-height 500ms ease-out;
    transition: padding 500ms ease-out;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    padding: 0;
}

.showQA{
    opacity: 1;
    max-height: 100%;
    padding: 1.5vw 1.5vw 4vw 1.5vw;
}

.last{
    border-bottom: 1px solid #c3c3c3;
}

.questao p{
    font-size: 1.25vw;
    font-weight: 900;
    line-height: 2vw;
}

.setaLink{
    height: 2vw;
}

@media only screen and (max-width: 1275px) {
    .questao p{
        font-size: 1.75vw;
        line-height: 2vw;
    }
}

@media only screen and (max-width: 1000px) {
}