*{
    font-family: Maven Pro;
}

.marginTop{
    margin-top: 1.5vw;
}

.marginTopBottom{
    margin: 1.5vw 0;
}

.separadorAreaLeitor{
    width: 100%;
}

.separadorAreaLeitor img{
    width: 100%;
    margin: 0;
}

.navBarAreaLeitor{
    display: flex;
    background-color: #E5E5E5;
    padding: 0 10%;
    justify-content: space-evenly;
}

.navBarAreaLeitor a{
    padding: 0.5vw 1vw;
    text-decoration: none;
}

.navBarAreaLeitor a text{
    font-size: 1.5vw;
    line-height: 2vw;
    color: black;
    opacity: 0.5;
}

.ativo{
    opacity: 1 !important;
}

.areaLeitorBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C6E4E2;
}

.areaLeitorContentContainer{
    border-radius: 1vw;
    background-color: white;
    width: 65%;
}

.flexboxStyle{
    display: flex;
}

.flexflowColumn{
    flex-flow: column;
}

.spacebetween{
    justify-content: space-between;
    align-items: center;
}


.imgPerfil{
    display: flex;
    justify-content: center;
    padding: 1vw;
}

.imgPerfil img{
    width: 5vw;
    object-fit: fill;
    border: #467C79 dashed 0.2vw;
    border-radius: 100%;
}


/* ALERT */

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-dismissible {
    padding-right: 4rem;
}

.fade {
    transition: opacity .15s linear;
}

.alert {
    position: relative;
    padding: 1vw 1.25vw;
    margin-bottom: 1vw;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1vw;
}

.alert strong{
    font-weight: 900;
    font-size: 1vw;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1vw 1.25vw;
    color: inherit;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.close {
    float: right;
    font-weight: 900;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close span{font-size: 2vw;}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media only screen and (max-width: 1275px) {
    .responsiveToColumn{
        flex-flow: column;
    }
    .navBarAreaLeitor a text{
        font-size: 3vw;
        line-height: 4vw;
    }

    .alert, .alert strong{
        font-size: 2vw;
        line-height: 2.75vw;
    }
    
    .close span{font-size: 5vw;}
}

@media only screen and (max-width: 1000px) {
    .navBarAreaLeitor a text, .alert, .alert strong{
        font-size: 4vw;
        line-height: 5vw;
    }
    
    .close span{font-size: 10vw;}
}