.founders-info {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 400px;
    margin-bottom: 100px;
    margin-top: 40px;
}

.founders-info-text{
    font-family: 'Maven Pro', sans-serif;
}

.founders-info-text-title{
    width: 50%;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin-bottom: 30px;
}    

.founders-info-img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.founders-info-img img {
    width: 60%;
}

.founders-info-text-age{
    margin-bottom: 10px;
}