.founders-info {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 400px;
    margin-bottom: 100px;
    margin-top: 40px;

}
.founders-info-text{
    width: 50%;
    font-family: 'Maven Pro', sans-serif;
}

.founders-info-img {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }