* {
  list-style:none; 
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
}

html{
  text-align:left;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  height: 100%;
}

.flexbox{
  display: flex;
}

.centeredContent{
  justify-content: center;
  align-items: center;
}

.flexFlowColumn{
  flex-flow: column;
}

.borderTop{
  border-top: #000000 solid 1px;
}

.borderBottom{
  border-bottom: #000000 solid 1px;
}

h5{
  font-family: Maven Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
  line-height: 1.55vw;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #000000;
}

p{
  font-family: Maven Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1.15vw;
  line-height: 1.25vw;
  display: flex;
  align-items: center;
  color: #000000;
}

.title{
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}

.bannerimg{    
  height: 100%;
  margin-top: -10%;
  width: 100%;
}

.banner{
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #C6E4E2;
}

.banner p{
  z-index: 1;
  font-family: 'Caveat';
  font-size: 65px;
  line-height: 65px;
  font-weight: 500;
}

.mainContainer{
  background-color: #C6E4E2;
}

.childContainer{
  width: 85%;
  background-color: #FFF;
  padding-bottom: 100px;
}

.noticia{
  margin-top: calc(350px + 10%);
  width: 80%;
}

.noticiaTitle{
  padding: 50px 0;
  text-align: center;
}

.noticiaImg{
  padding: 30px 0;
  width: 70%;
}

.noticiaImg img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.conteudo{
  padding: 50px 3vw;
}

.conteudoTexto{
  padding: 10px 0;
}

.comentario, .imagem_comentario{
  padding: 3vw 6vw;
}

.comentario{
  background-color: #C6E4E2;
  flex: 3;
  border-radius: 5vw;
}

.imagem_comentario{
  flex: 1;
}

.imagem_comentario img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.comentIllustration{
  width: 4vw;
  position: relative;
  top: 2vw;
  right: 3vw;
}

.comentContent{
  position: relative;
  top: -2vw;
  left: 2vw;
}

.comentTitle{
  font-weight: 700;
}

.comentatorName{
  margin: 0.25vw 0;
  margin-bottom: 3vw;
}

.addComent{
  margin: 2vw 0;
  padding: 0.5vw 1vw;
  border: 1px solid black;
  border-radius: 2vw; 
  margin-bottom: 50px;
}

@media only screen and (max-width: 1275px) { 
  h5{
    font-size: 22px;
    line-height: 27px;
  }
  
  p{
    font-size: 13px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 980px) { 
  h5{
    font-size: 18px;
    line-height: 25px;
  }
  
  p{
    font-size: 10px;
    line-height: 21px;
  }
  .addComent{
    font-size: 17px;
    line-height: 20px;
    padding: 1vw 2vw;
  }
}