/**
div{
    border: 1px black solid;
}
/**/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #C6E4E2;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #6f9996;
}

html{
    scroll-behavior: smooth;
}

.pointer{cursor: pointer;}

body, *{
    margin: 0;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.25vw;
}

h1{
    font-family: Caveat;
    font-style: normal;
    font-weight: bold;
    font-size: 6vw;
    line-height: 6.5vw;
}

h2{
    font-family: Caveat;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    line-height: 3.35vw;
}

h3{
    font-family: Caveat;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 2.25vw;
}

body, #wrapper{
    width: 100%;
    margin: 0;
}


/* INICIO DE NAVBAR */

#logo{
    margin-left: 40px;
    max-width: 100px;
    height: 100px;
    border: none;
    line-height: 100px;
    font-size: 25px;
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #C6E4E2;
    filter: drop-shadow(0 5px 10px rgb(155, 155, 155));
    max-height: 100x;
    z-index: 20;
    transition: 200ms;
}

.active {
    background-color: #6f9996;
}

.topnav a{
    float: left;
    display: block;
    width: 175px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.topnav a text, .dropbtn text{
    width: 175px;
    height: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 100px;
}

.boxInnerOutterShadow{
    box-shadow: 0px 0px 0px #6f9996, inset 0 0 0 0 #6f9996, inset 0 0 0 0 #6f9996;
    transition: 300ms;
}

.boxInnerOutterShadow:hover{
    box-shadow: 0px 0px 20px #6f9996, inset 0 50px 0 0 #6f9996, inset 0 -50px 0 0 #6f9996;
}

.boxInnerOutterShadowBlack{
    color: #000000;
    box-shadow: 0px 0px 0px #5a5a5a, inset 0 0 0 0 #5a5a5a, inset 0 0 0 0 #5a5a5a;
    transition: 300ms;
}

.boxInnerOutterShadowBlack:hover{
    color: white;
    box-shadow: 0px 0px 20px #5a5a5a, inset 0 50px 0 0 #5a5a5a, inset 0 -50px 0 0 #5a5a5a;
}

.topnav #logo{
    width: 100px;
}

.topnav .icon {
    display: none;
    width: 100px;
    height: 76px;
}

.dropdown-content a:hover {
    background-color: #365856;
    color: white;
}
/**/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    width: 175px;
    max-height: 100px;
    font-size: 25px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    text-align: center;
    display: block;
    width: 175px;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: #000000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ANIMAÇÂO */

@keyframes shake {
	25% {
		transform: rotate(calc(var(--angle) * -1));
	}

	50% {
		transform: rotate(var(--angle));
	}

	100% {
		transform: rotate(0deg);
	}
}

.HOVER {
	--width: 100%;
	--time: 0.7s;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.HOVER text {
	position: relative;
	z-index: 5;
	
	transition: color var(--time);
}

.HOVER:hover text {
	color: white;
}

.HOVER span {
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;
	
	border-radius: 100%;
	background: #365856;
	
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
	width: calc(var(--width) * 2.25);
	padding-top: calc(var(--width) * 2.25);
}

.HOVER.FLASH:hover text {
	color: white;
}

.HOVER.FLASH span {
	background: #ff3b3b;
}

.animated {
	--angle: 5deg;
	animation: shake 0.3s;
}

/* ANIMAÇÂO */

#areaLeitor{
    display: flex;
    position: absolute;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 26px;
    right: 30px;
}

#leitorText{
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
    color: #000000;
    
}

#leitorIcon{
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
}

#ghost{
    width: 100%;
    height: 100px;
}
/* FIM DE NAVBAR */

#setaCima{
    display: none;
    position: fixed;
    z-index: 99;
    right: 5vw;
    bottom: 20vh;
    width: 5vw;
    height: 5vw;
}

#setaCima a img, #setaCima a{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* INICIO DE FOOTER */

#patrocinadores, #patrocinadoresCln1, #patrocinadoresCln2{
    display: flex;
}

#patrocinadores{
    border-top: black 2px solid;
    flex-direction: column;
    padding: 20px;
}

#patrocinadoresCln1, #patrocinadoresCln2{
    justify-content: center;
    gap: 2rem;
}

#patrocinadores > * > *{
    flex-grow: 1;
    max-width: calc(100%/9);
    max-height: calc(210px/2);
    object-fit: contain;
}

#patrocinadores > * > * > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#rodape{
    background: #C6E4E2;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 2rem;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

#hyperlinks, #hyperlinks > * {
    display: flex;
    flex-grow: 1;
}

.first{
    margin-top: 9px;
}

#social, #newsletter{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    width: 100px;
}

#hyperlinks > * > * {
    list-style: none;
    margin: auto;
    font-weight: bolder;
    margin-top: 0;
    padding: 0;
}

#hyperlinks > * > * > *{
    
    text-decoration: none;
    color: #000000;
}

#hyperlinks > * > * > * > *{
    font-weight: normal;
    transition: 200ms ease-out;
    position: relative;
    left: 0;
    bottom: 0;
}

#hyperlinks > * > * > * > *:hover {
    left: 7px;
    bottom: 1px;
    font-weight: 700;
}

#calendarioLinks > *{
    margin-top: 0;
}

#icons{
    justify-content: center;
    display: flex;
    gap: 1rem;
}

#icons > *{
    position: relative;
    bottom: 0;
    filter: drop-shadow(0 0 0 #365856);
    transition: 200ms ease-out;
}

#icons > *:hover{
    filter: drop-shadow(2px 2px 5px #365856);
    bottom: 2px;
}

#emailInput, #newsLetterButton{
    height: 44px;
    box-sizing: border-box;
    border-radius: 15px;
}

#emailInput{
    border: 1px solid #000000;
    background-color: transparent;
    width: 75%;
    max-width: 350px;
    text-align: center;
}

#newsLetterButton{
    border: 0;
    margin: 10px 0px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: white;
}
/* FIM DE FOOTER */


/* Responsividade para telemóvel */
@media only screen and (max-width: 1275px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        top: 0;
        background-color: #6f9996;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .topnav a.icon {
        float: right;
        display: block;
        height: 100px;
        text-align: center;
        line-height: 100px;
        font-size: 40px;
    }
    .topnav.responsiveNavBar {
        position: fixed;
        width: 100%;
    }
    .topnav.responsiveNavBar a.icon {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
    }
    .topnav.responsiveNavBar a {
        float: none;
        display: block;
        border-top: 1px black solid;
        
    }

    .topnav.responsiveNavBar .dropdown {
        float: none;
    }
    .topnav.responsiveNavBar .dropdown-content {
        position: relative;
    }
    .topnav.responsiveNavBar .dropdown .dropbtn {
        display: block;
        width: 100%;
        border-top: 1px black solid;
    }
    .topnav {
        position: fixed;
        width: 100%;
        background-color: #C6E4E2;
        filter: drop-shadow(0 5px 5px rgb(68, 68, 68));
        overflow: hidden;
    }
    
    .topnav a{
        float: left;
        display: block;
        width: 175px;
        height: auto; /* aHeight */
        font-size: 25px;
        line-height: 75px;
        text-align: center;
        text-decoration: none;
        color: #000000;
    }

    .topnav a text, .dropbtn text{
        line-height: normal;
        font-size: 50%;
    }
    
    .topnav #logo{
        width: 100px;
    }
    
    .active {
        background-color: #6f9996;
    }
    
    #logo{
        margin-left: 40px;
        max-width: 100px;
        max-height: 100px;
    }
    
    .dropdown {
        float: left;
        overflow: hidden;
    }
    
    .dropdown .dropbtn {
        border: none;
        outline: none;
        background-color: inherit;
        width: 175px;
        max-height: none;
        font-size: 25px;
        line-height: 75px;
        text-align: center;
        text-decoration: none;
        margin: 0;
    }
    
    .dropdown-content a {
        float: none;
        text-align: center;
        display: block;
        width: 100%;
        font-size: 25px;
        line-height: 50px;
        text-decoration: none;
        color: #000000;
    }
    
    .topnav a:hover, .dropdown:hover .dropbtn {
        background-color: #365856;
        color: white;
    }
    
    .dropdown-content a:hover {
        background-color: #365856;
        color: black;
    }
    
    .dropdown:hover .dropdown-content {
        display: flex;
        justify-content: space-evenly;
        background-color: whitesmoke;
    }
    .topnav a:not(:last-child), .dropdown .dropbtn {
        width: 100%;
    }
    .topnav a {
        line-height: 75px;  
    }
    .dropdown-content a {
        line-height: 50px;
        background-color: whitesmoke;
        padding: calc(100vh/50) 0 !important;
    }
    #leitorIcon{
        display: none;
    }
    #areaLeitor {
        border: none;
        position: inherit;
        justify-content: center;
        margin: 0;
    }
    .responsiveHeight text, #leitorText{
        font-size: calc(100vh/20) !important;
        line-height: calc(100vh/10) !important;
    }
    .boxInnerOutterShadow{
        box-shadow: 0px 0px 0px #365856, inset 0 0 0 0 #365856, inset 0 0 0 0 #365856;
        transition: 0;
    }
    
    .boxInnerOutterShadow:hover{
        box-shadow: 0px 0px 0px #365856, inset 0 50px 0 0 #365856, inset 0 -50px 0 0 #365856;
    }
    .galeriaMenu{
        font-size: calc(100vh/40) !important;
        line-height: calc(100vh/40) !important;
        width: fit-content !important;
        flex-grow: 1;
    }
    
}

@media only screen and (max-width: 1000px) {
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content a{
        width: 100% !important;
        padding: calc(100vh/80) 0 !important;
    }
}

@media only screen and (max-width: 600px) {

}