    /**
    div{
        border: 1px black solid;
    }
    /**/

    body, *{
        margin: 0;
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
    }

    h1{
        font-family: Caveat;
        font-style: normal;
        font-weight: bold;
        font-size: 125px;
        line-height: 125px;
    }

    h2{
        font-family: Caveat;
        font-style: normal;
        font-weight: bold;
        font-size: 75px;
        line-height: 75px;
    }

    /**
    #wrapper{
        overflow-x: hidden;
    }
    /**/


    /* INICIO DE NAVBAR */
    
    .topnav {
        position: fixed;
        width: 100%;
        background-color: #C6E4E2;
        filter: drop-shadow(0 5px 5px rgb(68, 68, 68));
        overflow: hidden;
    }

    .topnav a{
        float: left;
        display: block;
        width: 175px;
        height: 100%;
        font-size: 25px;
        line-height: 100px;
        text-align: center;
        text-decoration: none;
        color: #000000;
    }

    .topnav #logo{
        width: 100px;
    }

    .active {
        background-color: #6f9996;
    }

    #logo{
        margin-left: 40px;
        max-width: 100px;
        max-height: 100px;
    }

    .topnav .icon {
        display: none;
        width: 100px;
        height: 76px;
        padding: 12px;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        border: none;
        outline: none;
        background-color: inherit;
        width: 175px;
        max-height: 100px;
        font-size: 25px;
        line-height: 100px;
        text-align: center;
        text-decoration: none;
        margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 0;
        background-color: #6f9996;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        text-align: center;
        display: block;
        width: 100%;
        font-size: 25px;
        line-height: 50px;
        text-decoration: none;
        color: #000000;
    }

    .topnav a:hover, .dropdown:hover .dropbtn {
        background-color: #365856;
        color: white;
    }

    .dropdown-content a:hover {
        background-color: #365856;
        color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* FIM DE NAVBAR */

@media only screen and (min-width: 1200px) { 




    /* INICIO DE FOOTER */

    #patrocinadores, #patrocinadoresCln1, #patrocinadoresCln2{
        display: flex;
    }

    #patrocinadores{
        border-top: black 2px solid;
        flex-direction: column;
        padding: 20px;
    }

    #patrocinadoresCln1, #patrocinadoresCln2{
        justify-content: center;
        gap: 2rem;
    }

    #patrocinadores > * > *{
        flex-grow: 1;
        min-width: 145px;
        max-width: calc(100%/9);
        max-height: calc(210px/2);
        object-fit: contain;
    }

    #rodape{
        background: #C6E4E2;
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 2rem;
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }

    #hyperlinks, #hyperlinks > * {
        display: flex;
        flex-grow: 1;
    }

    .first{
        margin-top: 9px;
    }

    #social, #newsletter{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
        justify-content: center;
        width: 100px;
    }

    #hyperlinks > * > * {
        list-style: none;
        margin: auto;
        font-weight: bolder;
        margin-top: 0;
        padding: 0;
    }

    #hyperlinks > * > * > *{
        font-weight: normal;
    }

    #calendarioLinks > *{
        margin-top: 0;
    }

    #icons{
        justify-content: center;
        display: flex;
        gap: 1rem;
    }

    #emailInput, #newsLetterButton{
        height: 44px;
        box-sizing: border-box;
        border-radius: 15px;
    }

    #emailInput{
        border: 1px solid #000000;
        background-color: transparent;
        min-width: 240px;
        width: 75%;
        max-width: 350px;
    }

    #newsLetterButton{
        border: 0;
        margin: 10px 0px;
        padding-right: 40px;
        padding-left: 40px;
        background-color: white;
    }
    /* FIM DE FOOTER */
}

@media only screen and (max-width: 1200px) { 
    h1 {
        font-size: 90px;
    }
    h2 {
        font-size: 60px;
        }
    #sobreNos, #calendario, #biblioteca, #galeria, #noticias{
        font-size: 20px;
        line-height: 20px;
        width: 120px;
    }
}

@media only screen and (max-width: 992px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a:not(:last-child), .dropdown .dropbtn {
        width: 100%;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav a {
        line-height: 75px;  
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        border-top: 1px black solid;
        
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        border-top: 1px black solid;
    }
    .dropdown-content a {
        line-height: 50px;
        background-color: whitesmoke;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

}