* { /*explicar isto*/
  list-style:none; 
    margin: 0;
    padding: 0;
  }

 /*div{border: solid 1px black} **/

  .body {
    margin: 0;
    padding: 0;
  }

  html{ /*explicar isto*/
    text-align:center;
    background: #E5E5E5;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
  }

  #titulo{
    display: flex; /*cria flexbox*/
    flex-direction: column; /*atributos que permitem ajustar a disposição dos elementos*/
    flex-wrap: nowrap;
    background-color: #ffffff;
    align-items: center;
  }

  .teuslivros{
    font-family: Caveat;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 132px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
}

.subtitulo{
  font-family: Maven Pro;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

#barra-topo{
    display: flex;
    gap: 2vw; /* espaçamento entre as div das flexbox*/
    flex-direction: row;  /*as divs ficam dispostas em linha*/
    flex-wrap: nowrap; /* à medida q o container vai ficando + pequeno devido a proporção da tela, os elementos diminuem o seu tamanho*/
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #E5E5E5;
    background-size: 50%;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
}
.espacobranco{
  background-color: #ffffff;
  padding: 2%;
}

.espaco{
  background-color: #E5E5E5;
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
  #container1 {
    margin-top: 5%;
    background: #E5E5E5;
    display: flex;
    gap: 1vw; /* gap - espaçamento entre as div das flexbox; 1vw - é um tipo de medida */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; /*é uma forma de justificar os elementos (direitos e alinhados)*/
    margin-left: 10%;
    margin-right: 10%;
}

#container2 {
  background: #E5E5E5;
  display: flex;
  gap: 1vw; /* espaçamento entre as div das flexbox*/
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;

}

#container3 {
  background: #E5E5E5;
  display: flex;
  gap: 1vw; /* espaçamento entre as div das flexbox*/
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  /*margin-top: 2%;*/
}

#container4 {
  background: #E5E5E5;
display: flex;
gap: 1vw; /* espaçamento entre as div das flexbox*/
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-evenly;
margin-left: 10%;
margin-right: 10%;
}

.Img1{ /*imagens com esta class mantêm essas proporções*/
      width:100%;
      height:77%;
   
}

.img2{ /*imagens com esta class mantêm essas proporções*/
      width:100%;
    height: 77%;
}

.img3{ /*imagens com esta class mantêm essas proporções*/
    width:100%;
    height:77%;
}

.img4{ /*imagens com esta class mantêm essas proporções*/
  width:100%;
  height:77%; /*tentar alinhar as imagens*/
}

.imagem1{ /*tamanho da div da 2da coluna*/
  width:30%;
  height: 60%;
}

.imagem2{ /*tamanho da div da 1ra coluna*/
  width: 30%;
  height: 60%;
}
.imagem3{ /*tamanho da div da 2da coluna*/
width:30%;
height: 60%;
}

.imagem4{ /*tamanho da div da 2da coluna*/
  width:30%;
  height: 60%;
}

#nomelivro{
  font-family: Maven Pro;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
justify-content: center;
color: #000000;
}

#nome-do-orador{
  font-family: Maven Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.barrinha{
  width: 100%;
}

.inscrever{
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 10px;
  width: 70%;
}

.divinscrever{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:30%;
  height: 60%;

  font-family: Maven Pro;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;
}
