

p.livrosFavoritos {
    margin-top: 60px;
    font-family: caveat;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.favoritos {
    width: 100%;
    margin-top: 40px;
}

.favoritosGrid{
    width: calc(100% - 50px);
    margin: auto;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	flex-wrap: wrap;
}

.bookSection{
    margin-top: 25px;
    min-height: 230px;
    position: relative;
    border-bottom: 1px solid #333;
}

.bookImageSection{
    padding: 10px;
    height: 80%;
}

.bookImg{
    aspect-ratio: auto;
    max-height: 100%;
    position: relative;
    width: 100%;
    transition: 250ms;
    top: 0;
}

.bookImg:hover{
    top: -0.5vw;
    box-shadow: 0vw 0.5vw 1vw #467C79;
}

.bookName {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 700;
    padding: 0 10px;
    width: 100%;
}

.buttonFav{
    padding: 1vw;
}

.button{
    background-color: white;
    border-radius: 1vw;
    padding: 0.5vw 3vw;
}

.imgPerfilFav {
    width: 70%;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgPerfilFav img{
    width: 100%;
    object-fit: fill;
    border: #467C79 dashed 0.2vw;
    border-radius: 100%;
    background-color: white;
}

.imgBackgroundPerfilFav {
    width: 100%;
    height: 100%;
    background-image: url("/Imagens/AreaDoLeitor/nuvens.svg");
    position: relative;
}

p.nomePerfilFav {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    line-height: 40px;
    font-family: caveat;
    font-weight: 700;
    background-color: #C6E4E2;
}