

p.livrosFavoritos {
    margin-top: 60px;
    font-family: caveat;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.favoritos {
    width: 100%;
    margin-top: 40px;
}

.favoritosGrid{
    width: calc(100% - 50px);
    margin: auto;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	flex-wrap: wrap;
}

.bookSection{
    margin-top: 25px;
    min-height: 400px;
    position: relative;
    border-bottom: 1px solid #333;
}

.bookImageSection{
    padding: 10px;
}

.bookImg{
    position: relative;
    width: 100%;
    transition: 250ms;
    top: 0;
}

.bookImg:hover{
    top: -0.5vw;
    box-shadow: 0vw 0.5vw 1vw #467C79;
}

.bookName {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 700;
}

.buttonFav{
    padding: 1vw;
}

.button{
    background-color: white;
    border-radius: 1vw;
    padding: 0.5vw 3vw;
}