

.fotoDePerfil{
    width: 15vw;
    object-fit: fill;
    border: #467C79 dashed 0.3vw;
    border-radius: 100%;
}

#perfilImg_alterarInfo{
    width: 20vw;
}

.userData{
    flex: 1;
    flex-flow: column;
}

.userName{
    font-family: caveat;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 35px;
}

.contentResponsiveFont{
    font-size: 1.35vw;
    text-align: center;
    line-height: 2.5vw;
}

.alterarUserData{
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    gap: 1vw;
}

.alterarUserData button{
    height: fit-content;
    border: 1px solid #000000;
    padding: 0vw 2vw;
    background-color: white;
    border-radius: 1.5vw;
    font-size: 1vw;
    line-height: 2vw;
}

.guardarInfo{
    border: none !important;
    background-color: #D66F5A !important;
}

.inputInfoPerfil{
    border: 1px solid #000000;
    border-radius: 1.5vw;
    width: 12.6vw;
    height: 75%;
    font-size: 1vw;
    text-align: center;
}

.emptySpaceForm{
    height: 0;
    flex: 1;
    border: #000000 1px dashed;
}
/*

@media only screen and (max-width: 1275px) {
    .imgContainer{
        display: flex;
        justify-content: center ;
    }
    .fotoDePerfil{
        width: 25vw;
    }
    .responsiveToColumn, .userName{
        flex-flow: column;
    }
    .areaLeitorContentContainer{
        justify-content: center;
    }
    .contentResponsiveFont{
        margin: 0.75vw 0;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: center;
    }
    .alterarUserData button{
        padding: 0vw 6vw;
        border-radius: 3vw;
        margin-top: 3vw;
        font-size: 3vw;
        line-height: 6vw;
    }
    .inputInfoPerfil{
        height: 2.25vw;
        width: 20vw;
    }
}

@media only screen and (max-width: 1000px) {
    .fotoDePerfil{
        width: 40vw;
    }
    .inputInfoPerfil{
        height: 3.75vw;
        width: 25vw;
    }
}*/

.infoContaBg{
    width: 65%;
    background-color: white;
    border-radius: 1vw;
    min-height: 60vh;
    padding-bottom: 50px;
}

.imgContainer {
    width: 100%;
    position: relative;
    height: calc(60vh * .3);
}

.imgContainer img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 1vw 1vw 0 0;
}

.imgPerfil{
    width: 10vw !important;
    bottom: -50% !important;
}

.flexboxStyle {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}