/* Galeria Videos*/
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.container
{
  margin: auto;
  width: 70%;
  margin-top: 60px;

}

.container-gallery
{
  margin: auto;
  width: calc(70% + 20px);
  margin-top: 60px;

}

  .banner {
      position: relative;
      width: 100%;
      height: 350px;
      font-family: 'Caveat', cursive;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #C6E4E2;
      font-size: 65px;
      font-weight: 500;
  }
  .banner p {
    font-family: 'Caveat', cursive;
    font-size: 65px;
    font-weight: 500;
    line-height: 65px;
    text-align: center;
} 
  .bannerimg {
      height: 100%;
      margin-top: -10%;
      width: 100%;
  }
.container-gallery-videos{
    margin: auto;
     width: 70%;
     display: flex;
     margin-top: 60px;
     justify-content: space-evenly;
     margin-bottom: 40px;
 }
 
   .responsive-videos {
     width: 50%;
   }
   .responsive-videos:first-child {
     margin-right: 30px;
   }
   
   .responsive-videos video {
     width: 100%;
     border: 2px solid black;
   }

   @media only screen and (max-width: 700px) {
    .responsive-videos {
      width: 100%;
      margin-bottom: 40px;
    }

    .container-gallery-videos{
       display: block;
      }
  }